APP_KEY=xxxxxxx_32_bytes_secret_xxxxxxxx
DB_LOGGING=false
APP_NAME='FastSchema test app'
STORAGE='{"default_disk":"public","disks":[{"name":"public","driver":"local","root":"./public","public_path":"/files/","base_url":"http://localhost:8000/"},{"name":"my_s3","driver":"s3","root":"/files","provider":"DigitalOcean","endpoint":"sfo3.digitaloceanspaces.com","region":"sfo3","bucket":"my_bucket","access_key_id":"s3_access_key_id","secret_access_key":"s3_secret_access_key","base_url":"https://cdn.site.local"}]}'
MAIL='{"sender_name":"FastSchema Accounts","sender_mail":"accounts@fastschema.com","default_client":"mailtrapsmtp","clients":[{"name":"mailtrapsmtp","driver":"smtp","host":"sandbox.smtp.mailtrap.io","port":2525,"username":"xxxxxx","password":"xxxxxx"}]}'
AUTH={"enabled_providers":["github","google"],"providers":{"local":{"activation_method":"manual","activation_url":"http://localhost:3001/activation","recovery_url":"http://localhost:3001/recover"},"github":{"client_id":"xxxxx","client_secret":"xxxxx"},"google":{"client_id":"xxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com","client_secret":"xxx"},"twitter":{"consumer_key":"twitter_consumer_key","consumer_secret":"twitter_consumer_secret"}}}
